* {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(112, 112, 111);
  }
  body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
    margin: 0;
  }
  header{
    width: 100%;
    height: 150px;
    :first-child{
        padding-top: 100px;
            font-weight: 700;
            font-size: 5.2rem;
            line-height: 1.1;
            margin: 0 0 2rem;
            text-align: center;
    }
  }
  .container{
    margin-left: 140px;
    width: 80%;
    margin-top: 250px ;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 30px;
    .item{
        
        border: solid black 3px;
        border-radius: 00.5rem;
        :last-child{
            font-size: 1.8rem;
        }
        .weeks,.days,.hours,.minuts,.seconds{
            font-size: 3rem;
        }
    }

  }